@page "/category/{Id:guid}/edit"

@inject ICategoryApi CategoryService
@inject ILessonsApi LessonsService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject IFileService FileService
@inject IYoutubeEmbedUrlCreator EmbdedUrlCreator
@inject ILogger<CategoryEdit> Logger

@if (_notFound)
{
    <h2 class="avante">Модуль: Не Найден :-( </h2>
    return;
}

@if (_category == null)
{
    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    return;
}

<h2 class="avante">Модуль: @_category.Name</h2>

<MudTabs Outlined=true Elevation="1" PanelClass="p-3">
    <MudTabPanel Text="Основная информация" Class="text-white">
        @if (_categoryLoading)
        {
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />

        }
        else
        {
            <div>
                <MudImage Width="200" Height="200" ObjectFit=ObjectFit.Cover ObjectPosition=ObjectPosition.Center Fluid=true Src="@_category.Icon" />
                <MudFileUpload T="IBrowserFile" OnFilesChanged="UploadFile">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context">
                            Загрузить Аватарку
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </div>

            <MudTextField Label="Имя" @bind-Value=_category.Name />
            <MudTextField Label="Описание" @bind-Value=_category.Description />

            <MudTextField Label="Количество уроков" Value="_lessons.Count()" ReadOnly=true />

            <MudButton Class="shifu-button shadow mt-5" OnClick="SaveCategory">Сохранить</MudButton>
        }
        
    </MudTabPanel>
    <MudTabPanel Text="Уроки" Class="text-white">

        @if (_lessonsLoading)
        {
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        }
        else
        {
            <div class="row align-items-stretch">
                @{
                    var iter = 0;
                }
                @foreach (var lesson in _lessons)
                {
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3 ">
                        <div class="dark-card w-100 dark-card-container text-white avante mud-ripple" @onclick="@(_ =>OpenUpdateLessonDialog(lesson))">
                            <div class="pad">
                                <h6 class="mud-typography mud-typography-h6 mud-typography-gutterbottom">@lesson.Header</h6>
                                <p class="mud-typography mud-typography-body1 description">@lesson.Description</p>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3" @onclick="OpenAddLessonDialog">
                    <div class="dark-card w-100 dark-card-container text-white avante mud-ripple">
                        Добавить Урок +
                    </div>
                </div>

            </div>
        }



    </MudTabPanel>


</MudTabs>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private bool _notFound;
    private Category? _category;

    private bool _categoryLoading;
    private bool _lessonsLoading;

    private IEnumerable<Lesson> _lessons = Array.Empty<Lesson>();

    private string[] _colors = new[]
    {
        "Default",
        "Primary",
        "Secondary",
        "Success",
        "Info",
        "Warning",
        "Error",
        "Dark"
    };


    protected override async Task OnInitializedAsync()
    {
        _categoryLoading = true;
        this.StateHasChanged();

        _category = await CategoryService.GetCategory(Id);
        _notFound = _category == null;

        _categoryLoading = false;
        this.StateHasChanged();

        if (_category == null)
        {
            return;
        }

        _lessonsLoading = true;
        this.StateHasChanged();
        try
        {
            _lessons = await LessonsService.GetLessonsByCategory(_category.Id);
        }
        catch
        {
            _lessons = Array.Empty<Lesson>();
        }
        finally
        {
            _lessonsLoading = false;
        }
        this.StateHasChanged();
    }

    private async Task SaveCategory()
    {
        try
        {
            _categoryLoading = true;
            this.StateHasChanged();
            await CategoryService.UpdateCategory(_category);
            Snackbar.Add("Сохранено", Severity.Success);
        }
        catch (Refit.ValidationApiException apiExc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            await Logger.LogException(apiExc, "Category cannot update");
        }
        catch (Exception exc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            Logger.LogError(exc,"Something went wrong");
        }
        finally
        {
            _categoryLoading = false;
            this.StateHasChanged();            
        }
    }

    private async Task OpenAddLessonDialog()
    {
        var dialog = await DialogService.ShowAsync<AddLessonDialog>();
        var dialogResult = await dialog.Result;

        if (dialogResult.Data is not Lesson lesson)
        {
            return;
        }
        lesson.CategoryId = Id;
        _lessonsLoading = true;
        this.StateHasChanged();
        try
        {
            lesson.YoutubeUrl = await EmbdedUrlCreator.GetUrl(lesson.YoutubeUrl);

            await LessonsService.CreateLesson(lesson);
            _lessons = await LessonsService.GetLessonsByCategory(Id);
            _lessonsLoading = false;

            this.StateHasChanged();
        }
        catch (Refit.ValidationApiException apiExc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            await Logger.LogException(apiExc, "Lessons cannot add");
        }
        catch (Exception exc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            Logger.LogError(exc, "Something went wrong");
        }
        finally
        {
            _lessonsLoading = false;
        }
        this.StateHasChanged();
    }

    private async Task OpenUpdateLessonDialog(Lesson lesson2)
    {
        var parameters = new DialogParameters<AddLessonDialog>();
        parameters.Add(x => x.Lesson, lesson2);

        var dialog = await DialogService.ShowAsync<AddLessonDialog>("Обновить",parameters);
        var dialogResult = await dialog.Result;

        if (dialogResult.Data is not Lesson lesson)
        {
            return;
        }
        lesson.CategoryId = Id;
        _lessonsLoading = true;
        this.StateHasChanged();
        try
        {
            await LessonsService.UpdateLesson(lesson);
            _lessons = await LessonsService.GetLessonsByCategory(Id);
            _lessonsLoading = false;

            this.StateHasChanged();
        }
        catch (Refit.ValidationApiException apiExc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            await Logger.LogException(apiExc, "Lessons cannot update");
        }
        catch (Exception exc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            Logger.LogError(exc, "Something went wrong");
        }
        finally
        {
            _lessonsLoading = false;
        }
    }

    private async Task RemoveLesson(Lesson lesson)
    {
        _lessonsLoading = true;
        try
        {
            await LessonsService.DeleteLesson(lesson);
            _lessons = await LessonsService.GetLessonsByCategory(Id);
            _lessonsLoading = false;
            this.StateHasChanged();
        }
        catch (Refit.ValidationApiException apiExc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            await Logger.LogException(apiExc, "Lessons cannot remove");
        }
        catch (Refit.ApiException apiExc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            await Logger.LogException(apiExc, "Lessons cannot remove");
        }
        catch (Exception exc)
        {
            Snackbar.Add("Что-то пошло не так", Severity.Error);
            Logger.LogError(exc, "Something went wrong");
        }
        finally
        {
            _lessonsLoading = false;
        }
    }

    private async Task UploadFile(InputFileChangeEventArgs args)
    {
        _category.Icon = await FileService.UploadFile(args.File);
    }
}
