<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudThemeProvider Theme=_mainTheme />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private readonly MudTheme _mainTheme = new()
        {
            Palette = new PaletteLight()
            {
                Background = "#EDCA9D",
                Surface = "#C2654F"
            }
        };
}